@model List<ForumQuestion>
@{
    ViewData["Title"] = "Forum";
}

<h1>@ViewData["Title"]</h1>
<br />
<p>Welcome to the Jungle</p>
<br />
<p>
    Here in the Jungle is a wild variety of questions, a wild variety of answers, and everything in between. Remember to be civil. Today you might be asking a question, but tomorrow, you might be answering one.
</p>
<br />
<a href="AddForumQuestion">Ask a question</a>
<br /><br />
      <div class="autoCenterWide">
          @foreach (ForumQuestion fq in Model)
          {
              <table class=" table table-bordered ">
                  <tr>
                      <th><h5> @fq.QuestionHeader</h5></th>
                  </tr>
                  <tr><td>@fq.QuestionBody</td></tr>
                  <tr><td>Date Added: @fq.DateAdded.ToString("yyyy-MM-dd")</td></tr>
                  <tr><td>Asked by @fq.Questioner.UserName</td></tr>

                  @foreach (Reply r in fq.Replies)
                  {
                      <tr>
                          <td><p>@r.ReplyBody</p></td>
                      </tr>
                      <tr>
                          <td>Submitted by: @r.Responder.UserName</td>
                      </tr>
                      <tr>
                          <td>Date Added: @r.DateAdded.ToString("yyyy-MM-dd") </td>
                      </tr>
                      
                  }

              </table>
              <a asp-action="AddForumReply" asp-route-questionheader="@fq.QuestionHeader">Add a reply</a>
              <br /><br /><br />
          }
      </div>