@model List<Tutor>;

@{
    ViewData["Title"] = "About the Tutors";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to explore your favorite tutors' awesome lives.</p>

<ul>
    @foreach (Tutor tutor in Model)
    {
      <li>
        <div class="row">
            <div class="col-4">
                <figure>
                    <img src="~/images/robotHead.jpg" />
                    <figcaption>@tutor.Title</figcaption>
                </figure>
            </div>
            <div class="col-8">
                <p>
                    Tutor @tutor.UserName is available to help 
                    and is frequently updating our site. You can find Tutor
                    @tutor.UserName's handiwork over in the Forum.
                </p>
                <p>
                    In his free time, @tutor.UserName enjoys growing tomatoes.
                    These tomatoes have won over 14 Blue Ribbon prizes at Lane's
                    County Fair.  They have even been requested by none other than
                    Chef Boyardee, who uses these tomatoes to make pizza sauce.

                </p>
            </div>
        </div>
      </li>
    }

</ul>


